@font-face {
    font-family: 'Vazir';
    src: url('./../font/Farsi-Digits/Vazir-Regular-FD.eot') format('eot');
    src: url('./../font/Farsi-Digits/Vazir-Regular-FD.ttf') format('ttf');
    src: url('./../font/Farsi-Digits/Vazir-Regular-FD.woff') format('woff');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #919191;
}

:root {
    --mainLight: rgb(255, 255, 255);
    --mainRed: #dd3b3b;
    --mainlightGray: #eaeaea;
    --mainXlightGray: #f0f0f0;
    --mainDarkGray: #656565;
    --mainFooterGray: #292a33;
}

body {
    font-family: Vazir;
}

.TopAD img {
    padding: 0px;
}

.topHeaderContainer {

    padding: 5px;
    margin: 10px 0px;
    background-color: var(--mainLight);
}

.Icons {
    color: #656565;
    font-size: x-large;
}

.logo {
    display: flex;
    align-items: center;
}

.loginRegister {
    display: flex;
    justify-content: flex-end;
}

.SearchInput {
    background-color: var(--mainlightGray);
    border: none;
}

.servicesItem img {
    height: 50px;
    width: 50px;
}

.servicesItem {
    text-align: center;
    padding: 30px;
}

.servicesItem h6 {
    font-size: x-small;
    margin-top: 10px;
}

.moreServices {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--mainlightGray);
    color: var(--mainDarktGray);
}


.superMarketOffer {
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px;
    background-color: var(--mainlightGray);
}

.superMarketOfferItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.superMarketOfferTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.superMarketOfferPill {

    font-size: small;
    background-color: #07a845;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.seperMarketOfferRoundedImg {
    width: 10%;
    border-radius: 50%;
}

.footerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offerBannerContainer {
    margin-top: 20px;
}

.offerBannerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.offerBannerItem img {
    width: 100%;
    border-radius: 20px;
    padding: 5px;

}

.footerBrandItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.categoryContainer {
    margin-top: 30px;
}

.categoryContainer b {
    font-size: large;
}

.categoryWithIconItem img {
    width: 70%;
}

.categoryWithIconItem {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.offerPosterContainer {
    margin-top: 20px;
}

.offerPoster {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.offerPoster img {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

.downloadFooterContainer {
    background-color: var(--mainFooterGray);
    border-radius: 20px;
    margin-top: 5px;
    padding: 8px;
}

.footerLogo {
    width: 10%;
}

.footerDownloadIcon {
    width: 20%;
}

.loginMainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    border: 1px solid var(--mainlightGray);
    border-radius: 10px;
    padding: 30px 50px;
}

.loginContainer img {
    width: 40%;
}

.logoTermOfServiceText {
    font-size: 10px;
}

.myItemBreadcrumb {
    font-size: small;
}

.productImg img {
    width: 90%;
}

.productTextCaptions {
    margin-top: 2px;
    border: 1px solid var(--mainlightGray);
    border-radius: 10px;
    padding: 10px;
    margin-top: 1px;
}

.productPriceContainer {
    background-color: var(--mainXlightGray);
    border-radius: 10px;
    padding: 10px;
}

.xSmall {
    font-size: 12px;
}

.purpuleCaption {
    font-size: x-small;
    color: #8d0fa6;
}

.salesSwipper {
    height: auto;
    border-radius: 20px;
    background-color: var(--mainRed);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.salesSwipperIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salesSwipperIcons img {
    width: 40%;
}

.swiper {
    width: 100%;
    height: 80%;

}

.swiperSlide {
    text-align: center;
    background: #fff;
}

.digiClub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #098191;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

.digiClubPoint{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.digiClubOptions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.digiClubOptions div{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: 5px;
    padding:2px;
}

.digiClubOptions b{
    font-size: small;
}

.digiClubOptions img{
    width: 7rem;
}